<template>
  <v-app>
    <v-container>
      <v-main>
        <v-row>
          <v-col cols="4">
            <v-text-field v-if="selected.index === -1" v-model="selected.text" placeholder="Todo item" />
            <v-text-field v-else disabled placeholder="Todo item" />
          </v-col>

          <v-col cols="2">
            <v-btn class="mx-2" fab @click="store.commit('create', { text: selected.text })">
              <v-icon> mdi-plus </v-icon>
            </v-btn>
          </v-col>
        </v-row>

        <v-row>
          <v-col cols="4">
            <v-list flat subheader three-line>
              <v-list-item-group>
                <v-list-item v-for="(item, index) in items" :key="index">
                  <v-list-item-content>
                    <v-text-field v-if="selected.index === index" v-model="selected.text" />
                    <v-list-item-subtitle v-else>{{ item.text }}</v-list-item-subtitle>
                  </v-list-item-content>

                  <v-list-item-action v-if="selected.index === index">
                    <v-btn icon @click="store.commit('edit', { index, text: selected.text })">
                      <v-icon> mdi-check </v-icon>
                    </v-btn>
                  </v-list-item-action>

                  <v-list-item-action v-if="selected.index !== index">
                    <v-btn icon @click="selected = index">
                      <v-icon> mdi-pencil </v-icon>
                    </v-btn>
                  </v-list-item-action>

                  <v-list-item-action>
                    <v-btn :disabled="selected.index === index" icon @click="store.commit('delete', index)">
                      <v-icon> mdi-delete </v-icon>
                    </v-btn>
                  </v-list-item-action>
                </v-list-item>
              </v-list-item-group>
            </v-list>
          </v-col>
        </v-row>

        <v-row>
          <v-col cols="6">
            <v-btn @click="displayList">Сохранить</v-btn>
          </v-col>
        </v-row>
      </v-main>
    </v-container>
  </v-app>
</template>

<script setup>
import store from '@/store'
import { computed } from 'vue'

const items = computed(() => store.state.items)
const selected = computed({
  get() {
    return store.state.selected
  },
  set(value) {
    store.commit('select', value)
  },
})

const displayList = () => {
  console.log(JSON.stringify(items.value))
}
</script>

<style lang="scss">
@import 'vuetify/dist/vuetify.min.css';
</style>
